<fieldset class="ino-radio-group" [disabled]="disabled" [attr.aria-describedby]="error ? errorId : null">
  <legend *ngIf="legend" class="ino-radio-group__legend">{{ legend }}</legend>

  <ino-radio
    class="ino-radio-group__item"
    *ngFor="let option of options"
    [label]="option.label"
    [name]="name"
    [value]="option.value"
    [size]="size"
    [checked]="option.value === value"
    [disabled]="disabled || !!option.disabled"
    [readonly]="readonly"
    (checkedChange)="onChange(option.value, $event)"
  ></ino-radio>

  <p *ngIf="error" [id]="errorId" class="ino-radio-group__error" role="alert">{{ error }}</p>
</fieldset>
